RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /logger.php [L]

<Files "config.ini">
  Order allow,deny
  Deny from all
</Files>